# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Generated plugin registrant
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies

# Android
**/android/**/gradle-wrapper.jar
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/key.properties

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Coverage
coverage/

# Firebase
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Keys / Secrets
*.jks
*.keystore
.env